@charset "UTF-8";
@keyframes check {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes menuslide {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Marges*/
html, body {
  margin: 0;
}

/*Identitée graphique*/
* {
  font-family: "roboto", arial;
}

/*Like*/
.coeurplein {
  opacity: 0;
  transition: opacity 500ms;
  color: #9356DC;
}
.coeurplein:hover {
  opacity: 1;
}

/*Spinner*/
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  background-color: white;
  cursor: wait;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: opacity 1s 3s;
  animation-fill-mode: both;
}

.spinner {
  color: #9356DC;
  animation: spin 2s linear infinite;
}

.spinner__logo {
  margin-bottom: 40px;
}

/*Header*/
.header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 164px;
  height: 29px;
}
.header__retour {
  color: #353535;
  position: absolute;
  left: 20px;
}

/*Footer*/
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 40px 25px;
}
.footer > div {
  display: flex;
  flex-wrap: wrap;
}
.footer__logo {
  width: 100px;
  margin-right: 100%;
  height: 20px;
  margin: 25px 0 25px 0;
}
.footer__lien {
  text-decoration: none;
  color: white;
  margin: 5px 0 5px 0px;
  width: 300px;
}
.footer__lien > i {
  margin-right: 10px;
}

/*Image page menu*/
.section-menu__img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
@media (min-width: 1145px) {
  .section-menu__img {
    height: 400px;
  }
}

/*Contenu page menu*/
.section-menu__contenu {
  position: relative;
  border-radius: 25px 25px 0 0;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  max-width: 375px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 1145px) {
  .section-menu__contenu {
    flex-direction: row;
    max-width: none;
  }
}
.section-menu__contenu__head {
  width: 100%;
}
.section-menu__contenu__head > h2 {
  font-family: "Shrikhand";
  margin: 40px 30px 35px 30px;
}
@media (max-width: 350px) {
  .section-menu__contenu__head > h2 {
    margin-right: 0;
    margin-left: 10px;
  }
}
.section-menu__contenu__head > .coeurvide {
  position: absolute;
  top: 50px;
  left: 280px;
}
@media (max-width: 350px) {
  .section-menu__contenu__head > .coeurvide {
    top: 80px;
    left: 100px;
  }
}
.section-menu__contenu__head > .coeurplein {
  position: absolute;
  top: 50px;
  left: 280px;
}
@media (max-width: 350px) {
  .section-menu__contenu__head > .coeurplein {
    top: 80px;
    left: 100px;
  }
}
.section-menu__contenu__bouton {
  width: 190px;
  height: 50px;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #ff79da 100%);
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 1em;
  box-shadow: 0 1px 8px grey;
  margin: 25px 0 60px 0;
}
.section-menu__contenu__bouton:hover {
  transition: all 1s;
  background: #ff79da;
  box-shadow: 0 4px 8px grey;
  cursor: pointer;
}
.section-menu__contenu__bouton:focus {
  outline: none;
}
@media (min-width: 1145px) {
  .section-menu__contenu__bouton {
    margin: 25px 0 0 100px;
  }
}

/*Animation arrivée menu*/
.entrees {
  animation: menuslide 1s;
}

.plats {
  animation: menuslide 1s 0.5s;
  animation-fill-mode: both;
  opacity: 0;
}

.desserts {
  animation: menuslide 1s 1s;
  animation-fill-mode: both;
}

.section-menu__contenu__categorie {
  width: 330px;
  margin: 15px 15px 35px 15px;
}
@media (max-width: 350px) {
  .section-menu__contenu__categorie {
    width: 200px;
  }
}
.section-menu__contenu__categorie__titre {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.section-menu__contenu__categorie__titre__bordure {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}
.section-menu__contenu__categorie > a {
  /*cartes cliquables + animation "check" :hover*/
  text-decoration: none;
  color: black;
}
.section-menu__contenu__categorie > a:hover > div > .menu__carte__check {
  transition: all 0.5s ease;
  width: 60px;
}
.section-menu__contenu__categorie > a:hover > div > .menu__carte__check > span > i {
  margin: auto;
  animation: spin 0.5s;
}

.menu__carte {
  /*agencement dans les cartes*/
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px grey;
  padding-left: 10px;
  margin-top: 15px;
  overflow: hidden;
}
@media (max-width: 350px) {
  .menu__carte {
    width: 200px;
  }
}
.menu__carte__txt {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.menu__carte__txt__titre {
  margin: 0;
  margin: 15px 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__carte__txt__description {
  font-size: 0.8em;
  margin: 0 0 10px 0;
  height: 20PX;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__carte__prix {
  font-weight: 700;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__carte__prix > p {
  margin: 40px 0 10px 0;
}
.menu__carte__check {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transition: all 0.5s ease;
  width: 0;
  padding: 24px 0;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Localiser*/
.localiser {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 1px 10px grey;
}
.localiser__icone {
  margin-right: 15px;
}

/*Section 1 : Acceuil*/
.section-un {
  background-color: #f6f6f6;
  padding-top: 43px;
  text-align: center;
}
.section-un__titre {
  margin: 0 50px 20px 50px;
}
.section-un__paragraphe {
  color: #353535;
  margin: 0 40px 30px 40px;
}
.section-un__bouton {
  width: 218px;
  height: 50px;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #ff79da 100%);
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 1em;
  box-shadow: 0 1px 8px grey;
  margin-bottom: 57px;
}
.section-un__bouton:hover {
  transition: all 1s;
  background: #ff79da;
  box-shadow: 0 4px 8px grey;
  cursor: pointer;
}
.section-un__bouton:focus {
  outline: none;
}

/*Section 2 : Fonctionnement (acceuil)*/
.section-deux {
  padding: 50px 0 70px 45px;
  margin: auto;
}
@media (min-width: 1100px) {
  .section-deux {
    text-align: center;
  }
}
.section-deux > .flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-deux__titre {
  margin: 0 0 35px -15px;
}
.section-deux__carte {
  display: flex;
  width: 322px;
  height: 75px;
  border-radius: 25px;
  box-shadow: 0 4px 8px grey;
  background-color: #f6f6f6;
  align-items: center;
  margin: 20px 30px 20px -10px;
  margin-bottom: 20px;
  margin-left: -10px;
}
.section-deux__carte__numero {
  margin-left: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-deux__carte > i {
  margin-left: 20px;
  margin-right: 27px;
}
.section-deux__carte:hover {
  background-color: #f5edff;
}
.section-deux__carte:hover > i {
  color: #9356DC;
}

/*Section 3 : Resaurants (acceuil)*/
.section-trois {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 65px;
}
.section-trois > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-trois__titre {
  margin: 60px 0 30px 0;
  padding-left: 45px;
}
@media (min-width: 1100px) {
  .section-trois__titre {
    text-align: center;
    padding-left: 0;
  }
}
.section-trois__carte {
  display: flex;
  max-width: 335px;
  height: 250px;
  box-shadow: 0 4px 8px grey;
  border-radius: 25px;
  margin: 20px 20px 20px 20px;
}
.section-trois__carte > a {
  text-decoration: none;
  color: black;
  position: relative;
}
.section-trois__carte:hover {
  box-shadow: 0 0 10px 5px grey;
}
.section-trois__carte__img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.section-trois__carte__nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 11px;
  width: 80px;
  height: 30px;
  margin: 0;
  border-radius: 5px;
  font-weight: 700;
  background-color: #99E2D0;
  color: #008766;
  /*Ajouter un DARKEN*/
}
.section-trois__carte__texte {
  position: relative;
  max-width: 300px;
  margin: 10px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.section-trois__carte__texte > p {
  margin: 5px 0 5px 0;
  width: 100%;
  text-decoration: none;
}
.section-trois__carte__texte__nom {
  font-weight: 700;
}
.section-trois__carte__texte > .coeurplein {
  position: absolute;
  top: 10px;
  right: 20px;
}
.section-trois__carte__texte > .coeurvide {
  position: absolute;
  top: 10px;
  right: 20px;
}

/*# sourceMappingURL=style.css.map */
