@charset "UTF-8";
/*Identitée graphique*/
* {
  font-family: "roboto", arial;
}

/*Marges*/
html, body {
  margin: 0;
}

/*Header*/
.header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 164px;
  height: 29px;
}

/*Localiser*/
.localiser {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 1px 10px grey;
}
.localiser__icone {
  margin-right: 15px;
}

/*Section 1 : Acceuil*/
.section-un {
  background-color: #f6f6f6;
  padding-top: 43px;
  text-align: center;
}
.section-un__titre {
  margin: 0 50px 20px 50px;
}
.section-un__paragraphe {
  color: #353535;
  margin: 0 40px 30px 40px;
}
.section-un__bouton {
  width: 218px;
  height: 50px;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #ff79da 100%);
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 1em;
  box-shadow: 0 1px 8px grey;
  margin-bottom: 57px;
}
.section-un__bouton:hover {
  background: #ff79da;
  box-shadow: 0 4px 8px grey;
  cursor: pointer;
}
.section-un__bouton:focus {
  outline: none;
}

/*Section 2 : Fonctionnement*/
.section-deux {
  padding: 50px 0 70px 45px;
  margin: auto;
  max-width: 375px;
}
.section-deux__titre {
  margin: 0 0 35px -15px;
}
.section-deux__carte {
  display: flex;
  max-width: 322px;
  height: 75px;
  border-radius: 25px;
  box-shadow: 0 4px 8px grey;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -10px;
}
.section-deux__carte__numero {
  margin-left: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-deux__carte > i {
  margin-left: 20px;
  margin-right: 27px;
}
.section-deux__carte:hover {
  background-color: #f5edff;
}
.section-deux__carte:hover > i {
  color: #9356DC;
}

/*Section 3 : Resaurants*/
.section-trois {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}
.section-trois > div {
  max-width: 375px;
}
.section-trois__titre {
  margin: 60px 0 30px 0;
}
.section-trois__carte {
  display: flex;
  max-width: 335px;
  height: 250px;
  box-shadow: 0 4px 8px grey;
  border-radius: 25px;
  margin-bottom: 20px;
}
.section-trois__carte > a {
  text-decoration: none;
  color: black;
}
.section-trois__carte__img {
  width: 335px;
  height: 174px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.section-trois__carte__texte {
  width: 300px;
  margin: 10px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  /*A REMPLACER PAR TRANSITION*/
}
.section-trois__carte__texte > p {
  margin: 5px 0 5px 0;
  width: 250px;
  text-decoration: none;
}
.section-trois__carte__texte__nom {
  font-weight: 700;
}
.section-trois__carte__texte > .plein {
  display: none;
}
.section-trois__carte__texte > .vide {
  margin-top: 10px;
}
.section-trois__carte__texte > .vide:hover {
  display: none;
}
.section-trois__carte__texte > .vide:hover + .plein {
  display: flex;
  margin-top: 10px;
  color: #9356DC;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 40px 25px;
}
.footer > div {
  display: flex;
  flex-wrap: wrap;
}
.footer__logo {
  width: 100px;
  margin-right: 100%;
  height: 20px;
  margin: 25px 0 25px 0;
}
.footer__lien {
  text-decoration: none;
  color: white;
  margin: 5px 0 5px 0px;
  width: 300px;
}
.footer__lien > i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
