/*Header*/
.header{
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo{
        width: 164px;
        height: 29px;
    }
    
    &__retour{
        color: #353535;
        position: absolute;
        left: 20px;
    }
}

/*Footer*/
.footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 40px 25px;
    &>div{
        display: flex;
        flex-wrap: wrap;
    }
    &__logo{
        width: 100px;
        margin-right: 100%;
        height: 20px;
        margin:25px 0 25px 0;
    }
    &__lien{
        text-decoration: none;
        color: white;
        margin: 5px 0 5px 0px;
        width: 300px;
        &>i{
            margin-right: 10px;
        }
    }

}
/*Image page menu*/
.section-menu{
    
    &__img{
        width: 100%;
        height: 260px;
        object-fit: cover;
        
    }
    &__contenu{
    position: relative;
    max-width: 375px;
    border-radius: 25px 25px 0 0;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    
        &__titre{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            &>.coeurvide{
                position:absolute;
                top:50px;
                left: 280px;
            }
            &>.coeurplein{
                position:absolute;
                top:50px;
                left: 280px;

            }
        }
    }
}

h2{
    font-family: "Shrikhand";
    margin: 40px 30px 35px 20px;
}

.section-menu__contenu__entrees{
    margin: 15px;
    &>h3{
        margin: 0;

    }
    &>.bordure{
        height: 3px;
        width: 40px;
        background-color: $color3;
    }
    &>a{
        text-decoration: none;
        
        color: black;
        &:hover > div{
            background-color: blue;/*ANNIMATION*/
        }
        &>div{
            max-width: 350px;
            height: 70px;
            border-radius: 20px;
            background-color: white;
            box-shadow:0 4px 8px grey; ;
        }
    }
}



