/*Like*/
.coeurplein{
    opacity: 0;
    transition: opacity 500ms;
    color: $color1;
    &:hover{
        opacity: 1;
    }
}
/*Spinner*/
.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    background-color: white;
    cursor: wait;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: opacity 1s 3s ;
    animation-fill-mode: both;
    &__logo{
        margin-bottom: 40px;
    }
    &__spinner{
        color: $color1;
        animation:spin 2s linear infinite;
    }

}

  
 
