@mixin bouton{
    background: $color1;
    background: linear-gradient(0deg,$color1 0%, $color2 100%);
    border-radius: 25px;
    border:none;
    color: white;
    font-size: 1em;
    box-shadow: 0 1px 8px grey;
    &:hover{
        background: $color2;
        box-shadow: 0 4px 8px grey;
        cursor:pointer;
    }
    &:focus{
        outline:none ;
    }
}